{% extends 'base.html' %}
{% load i18n %}
{% block title %}О проекте CoderBooks{% endblock %}
{% block description %}
        <meta name="description"
              content="CoderBooks это самая большая и бесплатная библиотека о программировании для начинающего и опытного программиста">
    {% endblock %}
{% block content %}
 <div class="nh_content-static">

  {% get_current_language as current_language %}

  {% if current_language == lang %}
  <h1>О команде CoderBooks</h1><br>
    <p>
      Добро пожаловать на сайт CoderBooks!
    </p>
    <p>
      Мы начали свою деятельность в ноябре 2022 года и за это время разместили на нашем ресурсе более 1000 книг в формате PDF по различным языкам программирования. Наша цель - предоставить широкому кругу людей доступ к качественной литературе по программированию.
    </p>
    <p>
      Для удобства поиска книг на сайте, мы запустили бота в Telegram. Вы можете воспользоваться им, посетив нашего бота по ссылке: <a href="https://t.me/CoderBooks_bot">CoderBooks_bot</a>.
    </p>
    <p>
      Наша команда состоит из энтузиастов, которые разделяют любовь к программированию. Если у вас есть идеи или предложения, как сделать наш ресурс еще лучше, не стесняйтесь написать нам на почту <a href="mailto:coderbooks@inbox.ru">coderbooks@inbox.ru</a>. Мы всегда открыты к обратной связи и готовы рассмотреть и внедрить интересные предложения.
    </p>
    <p>
      Спасибо за то, что выбрали CoderBooks! Мы стремимся сделать ваш опыт обучения программированию более удобным и интересным.
    </p>
    <p>
      С уважением,<br>
      Команда CoderBooks
    </p>
  {% else %}
  <h1>About the CoderBooks team</h1><br>
    <p>
      Welcome to the CoderBooks website!
    </p>
    <p>
      We started our activity in November 2022 and during this time we have posted more than 1000 PDF books on various programming languages on our resource. Our goal is to provide a wide range of people with access to high-quality programming literature.
    </p>
    <p>
      For the convenience of searching for books on the site, we launched a bot in Telegram. You can use it by visiting our bot at the link: <a href="https://t.me/CoderBooks_bot ">CoderBooks_bot</a>.
    </p>
    <p>
      Our team consists of enthusiasts who share a love of programming. If you have any ideas or suggestions on how to make our resource even better, feel free to email us <a href="mailto:coderbooks@inbox.ru ">coderbooks@inbox.ru </a>. We are always open to feedback and are ready to consider and implement interesting proposals.
    </p>
    <p>
      Thank you for choosing CoderBooks! We strive to make your programming learning experience more convenient and interesting.
    </p>
    <p>
      Sincerely,<br>
      The CoderBooks team
    </p>
  {% endif %}


  </div>
{% endblock %}
