{% extends 'base.html' %}
{% block title %}О проекте CoderBooks{% endblock %}
{% block description %}О сайте и команде проекта CoderBooks. Информация о том, как можно связаться с администрацией онлайн библиотеки по программированию CoderBooks{% endblock %}
{% block content %}
 <div>
<h1>О команде CoderBooks</h1><br>
    <p>
      Добро пожаловать на сайт CoderBooks!
    </p>
    <p>
      Мы начали свою деятельность в ноябре 2022 года и за это время разместили на нашем ресурсе более 1000 книг в формате PDF по различным языкам программирования. Наша цель - предоставить широкому кругу людей доступ к качественной литературе по программированию.
    </p>
    <p>
      Для удобства поиска книг на сайте, мы запустили бота в Telegram. Вы можете воспользоваться им, посетив нашего бота по ссылке: <a href="https://t.me/CoderBooks_bot">CoderBooks_bot</a>.
    </p>
    <p>
      Наша команда состоит из энтузиастов, которые разделяют любовь к программированию. Если у вас есть идеи или предложения, как сделать наш ресурс еще лучше, не стесняйтесь написать нам на почту <a href="mailto:coderbooks@inbox.ru">coderbooks@inbox.ru</a>. Мы всегда открыты к обратной связи и готовы рассмотреть и внедрить интересные предложения.
    </p>
    <p>
      Спасибо за то, что выбрали CoderBooks! Мы стремимся сделать ваш опыт обучения программированию более удобным и интересным.
    </p>
    <p>
      С уважением,<br>
      Команда CoderBooks
    </p>
  </div>
{% endblock %}
