{% extends 'base.html' %}
{% block title %}Пользовательское соглашение{% endblock %}
{% block content %}
 <div class="nh_content-static">
<h1>Пользовательское соглашение CoderBooks</h1><br>

    <h3>1. Принятие условий</h3>
    <p>
      Посещение и использование нашего сайта означает ваше полное согласие с условиями данного соглашения. Если вы не согласны с каким-либо пунктом, просим вас воздержаться от использования нашего ресурса.
    </p>

    <h3>2. Авторские права</h3>
    <p>
      Все материалы, размещенные на сайте CoderBooks.ru, защищены авторскими правами. Разрешено использование материалов в личных и образовательных целях, при условии сохранения авторских прав и указания ссылки на источник.
    </p>

    <h3>3. Ответственность пользователя</h3>
    <p>
      Пользователь обязуется не нарушать законы и правила пользования интернет-ресурсами при использовании CoderBooks.ru. Кроме того, пользователь несет ответственность за безопасность своих учетных данных и аккаунта.
    </p>

    <h3>4. Защита информации и отказ от гарантий</h3>
    <p>
      Администрация CoderBooks.ru защищает информацию о своих посетителях, однако не гарантирует полную сохранность данных при возникновении форс-мажорных обстоятельств. Пользователь скачивает программное обеспечение (книги) на свой страх и риск. Администрация проверяет книги перед размещением на сайте с использованием сервиса <a href="https://www.virustotal.com/gui/">VirusTotal</a>.
    </p>

    <h3>5. Изменения и обновления</h3>
    <p>
      Администрация CoderBooks.ru оставляет за собой право вносить изменения и обновления в пользовательское соглашение без предварительного уведомления. Регулярно проверяйте страницу соглашения для получения актуальной информации.
    </p>

    <h3>6. Связь с нами</h3>
    <p>
      Если у вас есть вопросы или предложения по поводу пользовательского соглашения, свяжитесь с нами по адресу <a href="mailto:coderbooks@inbox.ru">coderbooks@inbox.ru</a>.
    </p>

    <p>
      Спасибо за использование CoderBooks.ru! Мы стремимся предоставить вам качественный контент и удобный опыт использования.
    </p>
  </div>
{% endblock %}
