{% extends 'base.html' %}
{% block title %}Пользовательское соглашение{% endblock %}
{% block content %}
 <div>
<h1>Пользовательское соглашение CoderBooks</h1><br>
    <p>
      Добро пожаловать на сайт CoderBooks.ru! Прежде чем продолжить использование нашего ресурса, ознакомьтесь, пожалуйста, с нашим пользовательским соглашением.
    </p>

    <h3>1. Принятие условий</h3>
    <p>
      Посещение и использование нашего сайта означает ваше полное согласие с условиями данного соглашения. Если вы не согласны с каким-либо пунктом, просим вас воздержаться от использования нашего ресурса.
    </p>

    <h3>2. Авторские права</h3>
    <p>
      Все материалы, размещенные на сайте CoderBooks.ru, защищены авторскими правами. Разрешено использование материалов в личных и образовательных целях, при условии указания авторов и издателей.
    </p>

    <h3>3. Ответственность пользователя</h3>
    <p>
      Пользователь обязуется не нарушать законы и правила пользования интернет-ресурсами при использовании CoderBooks.ru. Кроме того, пользователь несет ответственность за безопасность своих учетных данных и аккаунта.
    </p>

    <h3>4. Изменения и обновления</h3>
    <p>
      Администрация CoderBooks.ru оставляет за собой право вносить изменения и обновления в пользовательское соглашение без предварительного уведомления. Регулярно проверяйте страницу соглашения для получения актуальной информации.
    </p>

    <h3>5. Связь с нами</h3>
    <p>
      Если у вас есть вопросы или предложения по поводу пользовательского соглашения, свяжитесь с нами по адресу <a href="mailto:coderbooks@inbox.ru">coderbooks@inbox.ru</a>.
    </p>

    <p>
      Спасибо за использование CoderBooks.ru! Мы стремимся предоставить вам качественный контент и удобный опыт использования.
    </p>
  </div>
{% endblock %}
