{% extends 'base.html' %}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Book",
    "author": {
        "@type": "Person",
        "name": "{{ book.author_book }}"
    },
"datePublished": "{{ book.release_date }}",
"name": "{{ book.title }}"
}
</script>
{% block lang %}{% if book.lang_category == 1 %}<html lang="ru">{% endif %}{% if book.lang_category == 2 %}<html lang="en">{% endif %}{% endblock %}
{% block title %}
    {{ book.title }}.{% if book.author_book %} {{ book.author_book|truncatewords:2 }} {% endif %}
{% if book.release_date %} ({{ book.release_date }}) {% endif %}
{% endblock %}
{% block description %}
<meta name="description" content="Смотреть, читать и скачать бесплатно книгу &#34;{{ book.title }}.{% if book.author_book %} {{ book.author_book|truncatewords:2 }} {% endif %}
{% if book.release_date %} ({{ book.release_date }}) {% endif %}&#34; в формате pdf на сайте онлайн библиотеки по программированию CoderBooks.ru">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ book.title }} {% if book.author_book %} {{ book.author_book|truncatewords:3 }} {% endif %}
{% if book.release_date %} ({{ book.release_date }}) {% endif %}">
<meta property="og:url" content="https://coderbooks.ru/{{ book.get_absolute_url }}">
<meta property="og:description" content="Смотреть, читать и скачать бесплатно книгу &#34;{{ book.title }}.{% if book.author_book %} {{ book.author_book|truncatewords:2 }} {% endif %}
{% if book.release_date %} ({{ book.release_date }}) {% endif %}&#34; в формате pdf на сайте онлайн библиотеки по программированию CoderBooks.ru">
<meta property="og:image" content="https://coderbooks.ru{{ book.img_file.url }}">
{% endblock %}
{% block content %}
	
    <br>

  <!--  <a href="#" class="btn btn-outline-secondary " onclick="history.back();">
        <i class="bi bi-reply" aria-hidden="true"></i></i>&nbsp;Вернуться</a>
    <br>   -->
<!-- {% if book.title == "Программируем с Minecraft" %} 
<br>{% include "banner.html" %}
{% endif %}-->
    <br> 
    <h1>{{ book.title }}</h1>
	
<!-- {% if book.title == "Программируем с Minecraft" %} 
{% include "banner.html" %}<br>
{% endif %}-->
    <br>
{% if book.author_book %}
<h6>Автор: {{ book.author_book }}</h6>
{% endif %}
{% if book.release_date %}
  <h6>Дата выхода: {{ book.release_date }}</h6>
{% endif %}
{% if book.publisher %}
  <h6>Издательство: {{ book.publisher }}</h6>
{% endif %}
{% if book.book_pages %}
  <h6>Количество страниц: {{ book.book_pages }}</h6>
{% endif %}
{% if book.book_file %}
  <h6>Размер файла: {{ book.book_file.size|filesizeformat }}</h6> 
{% endif %}
<br> 
  <div class="row">
    <div class="col-sm-2">
          {% if book.book_file %}
        <p><a href="{{ book.book_file.url }}" target="_blank" download="https://coderbooks.ru{{ book.title }}.pdf"
              class="btn btn-outline-secondary"><i
                class="bi bi-cloud-arrow-down" aria-hidden="true"></i><b>&nbsp;Скачать</b></a></p>
    {% endif %}
    </div>
    <div class="col-sm-3">
	    
         {% if book.virus_total %}
        <p><a href="{{ book.virus_total }}" target="_blank"
              class="btn btn-outline-secondary"><i
                class="bi bi-check-circle" aria-hidden="true"></i><b>&nbsp;Проверить на вирусы </b></a></p>
    {% endif %}
    </div>
  </div>
    {% if book.book_file %}
        <div class="chitalka">
                <object data="https://coderbooks.ru{{ book.book_file.url }}" title="Читать онлайн {{ book.title }}" type="application/pdf" width="100%" height="700"></object>
        </div>
    {% endif %}
    <br><br>
    {% autoescape off %}
        {{ book.description }}
    {% endautoescape %}
    <br>
{% if book.codes %}
  <h6>Исходный код: <a href="{{ book.codes }}" target="_blank"
              class="btn btn-outline-secondary"><b>&nbsp;Перейти</b></a></h6>
{% endif %}

<!-- Yandex.RTB R-A-2223408-7 -->
<script>
window.yaContextCb.push(()=>{
	Ya.Context.AdvManager.render({
		"blockId": "R-A-2223408-7",
		"type": "fullscreen",
		"platform": "touch"
	})
})
</script>
	
	<br>
	<iframe src="https://yoomoney.ru/quickpay/fundraise/widget?billNumber=Y6PvfAHiLqk.230907&" width="100%" height="480" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
	  <div class="d-lg-none">{% include 'partner2.html' %}</div>
          <div class="d-none d-lg-block">{% include 'partner_mobile2.html' %}</div>
    <table class="table">
        <thead>
        <tr>
            <th scope="row"><p>Если вам понравилась эта книга поделитесь ею с друзьями, тем самым вы помогаете нам
                развиваться и добавлять всё больше интересных и нужным вам книг!</p>
            </th>
        </thead>
    </table>
    <br>
	
    <script src="https://yastatic.net/share2/share.js"></script>
    <div class="ya-share2" data-curtain data-color-scheme="blackwhite" data-services="messenger,vkontakte,odnoklassniki,telegram,twitter,viber,whatsapp,moimir,pinterest"></div>
    <br>
<!-- Yandex.RTB R-A-2223408-8 -->
<div id="yandex_rtb_R-A-2223408-8"></div>
<script>
window.yaContextCb.push(()=>{
	Ya.Context.AdvManager.render({
		"blockId": "R-A-2223408-8",
		"renderTo": "yandex_rtb_R-A-2223408-8",
		"type": "feed"
	})
})
</script>


<!-- Yandex.RTB R-A-2223408-9 -->
<script>
window.yaContextCb.push(()=>{
	Ya.Context.AdvManager.render({
		"blockId": "R-A-2223408-9",
		"type": "floorAd",
		"platform": "touch"
	})
})
</script>	
	
{% endblock %}
