{% extends 'base.html' %}
{% load i18n %}
{% load static %}
<title>{% block title %}CoderBooks учебная литература для программистов{% endblock %} | CoderBooks</title>
{% block content %} 
{% get_current_language as current_language %}

{% if current_language == lang %}
<h1>Книги по программированию и IT</h1>
{% else %}
<h1>Books on programming and IT</h1>
{% endif %}
<div class="nh_filter js-accordion">
    <div class="nh_button js-accordion-title">{% if current_language == lang %}Фильтрация{% else %}Filtering{% endif %}</div>
    <div class="js-accordion-body">
        <div class="nh_filter-content">
            <form class="nh_filter-form" method="GET">
                <label>
                    {% csrf_token %}
                    {{ form.as_p }}
                <button class="nh_button" type="submit">{% if current_language == lang %}Фильтровать{% else %}Filter{% endif %}</button>
            </form>
        </div>
    </div>
</div>
<div class="nh_content-list">
{% for book in page_object %}
<div class="nh_content-list-item">
    <a href="{{ book.get_absolute_url }}"class="nh_item-image">
        <img src="{{ book.img_file.url }}">
    </a>
    <div class="nh_item-content">
        <a href="{{ book.get_absolute_url }}" class="nh_item-title">
            <h2>{{ book.title }} - {% if book.author_book %}{{ book.author_book }}
					{% else %}
					{% for author in book.author.all %}{{author.name }}{% endfor %}
		                        {% if not forloop.last %},{% endif %}
					{% endif %}</h2>
        </a>
        <div>
            <div class="nh_item-date">
                <div class="nh_item-date-block">
                    <svg><use xlink:href="#icon-calendar"></use></svg>
                    <span>{{ book.release_date }}</span>
                </div>
                <div class="nh_item-date-block">
                    <svg><use xlink:href="#icon-folder"></use></svg>
                    <a href="{{ book.category.first.get_absolute_url }}">{{ book.category.first }}</a>
                </div>
                <div class="nh_item-date-block">
                    <svg><use xlink:href="#icon-earth"></use></svg>
                    <span>{% if book.lang_category == 1 %}русский{% endif %}{% if book.lang_category == 2 %}english{% endif %}</span>
                </div>
            </div>
            <div class="nh_item-description" style="height: 40px">{% autoescape off %}{{ book.description }}{% endautoescape %}</div>
            <a href="{{ book.get_absolute_url }}" class="nh_item-url">{% if current_language == lang %}Перейти >{% else %}Go to >{% endif %}</a>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% if is_paginated %}
<div class="nh_pagination">
    <a class="nh_pagination-button {% if not prev_url %}disabled{% endif %}" href="{{ prev_url }}"><</a>

    {% for n in page_object.paginator.page_range %}
    {% if page_object.number == n %}

    <a class="nh_pagination-button active" href="?page={{ n }}">{{ n }}</a>
    {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}

    <a class="nh_pagination-button" href="?page={{ n }}">{{ n }}</a>

    {% endif %}{% endfor %}

    <a class="nh_pagination-button {% if not next_url %}disabled{% endif %}" href="{{ next_url }}">></a>

</div>
{% endif %}

{% endblock %}
