{% extends 'base.html' %}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Book",
    "author": {
        "@type": "Person",
        "name": "{{ book.author_book }}"
    },
"datePublished": "{{ book.release_date }}",
"name": "{{ book.title }}"
}
</script>
{% block lang %}{% if book.lang_category == 1 %}<html lang="ru">{% endif %}{% if book.lang_category == 2 %}<html lang="en">{% endif %}{% endblock %}
{% block title %}
    {{ book.title }}.
	
	{% if book.author_book %}{{ book.author_book }}
					{% else %}
					{% for author in book.author.all %}{{author.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
		                        
					{% endif %}
	
{% if book.release_date %} ({{ book.release_date }}) 
	{% if book.lang_category == 1 %}скачать{% endif %}{% if book.lang_category == 2 %}download{% endif %}
	 {% endif %}
{% endblock %}
{% block description %}
	<!-- русский -->
{% if book.lang_category == 1 %}
<meta name="description" content="Смотреть, читать и скачать бесплатно книгу &#34;{{ book.title }}.{% if book.author_book %} {{ book.author_book|truncatewords:2 }} {% endif %}
{% if book.release_date %} ({{ book.release_date }}) {% endif %}&#34; в формате pdf на сайте онлайн библиотеки по программированию CoderBooks.ru">
{% endif %}
<!-- русский -->
<!-- английский -->
{% if book.lang_category == 2 %}
<meta name="description" content="Look, read and download a book for free &#34;{{ book.title }}.{% if book.author_book %} {{ book.author_book|truncatewords:2 }} {% endif %}
{% if book.release_date %} ({{ book.release_date }}) {% endif %}&#34; in the format of PDF on the website of an online library on programming CoderBooks.ru">
{% endif %}
<!-- английский -->
<meta property="og:type" content="article">
<meta property="og:title" content="{{ book.title }} {% if book.author_book %} {{ book.author_book|truncatewords:3 }} {% endif %}
{% if book.release_date %} ({{ book.release_date }}) {% endif %}">
<meta property="og:url" content="https://coderbooks.ru/{{ book.get_absolute_url }}">
	<!-- русский -->
{% if book.lang_category == 1 %}
<meta property="og:description" content="Смотреть, читать и скачать бесплатно книгу &#34;{{ book.title }}.{% if book.author_book %} {{ book.author_book|truncatewords:2 }} {% endif %}
{% if book.release_date %} ({{ book.release_date }}) {% endif %}&#34; в формате pdf на сайте онлайн библиотеки по программированию CoderBooks.ru">
{% endif %}
<!-- русский -->
<!-- английский -->
{% if book.lang_category == 2 %}
<meta property="og:description" content="Look, read and download a book for free &#34;{{ book.title }}.{% if book.author_book %} {{ book.author_book|truncatewords:2 }} {% endif %}
{% if book.release_date %} ({{ book.release_date }}) {% endif %}&#34; in the format of PDF on the website of an online library on programming CoderBooks.ru">
{% endif %}
<!-- английский -->
<meta property="og:image" content="https://coderbooks.ru{{ book.img_file.url }}">
{% endblock %}
{% load static %}
{% block content %}                   
                
                    <div class="nh_detail-page">
                        <h1>{{ book.title }}</h1>
                        <div class="nh_content-detail">
                            <div class="nh_detail-image">
                                <img src="{{ book.img_file.url }}">
                            </div>
                            <div class="nh_detail">
                                <ul class="nh_detail-info">

                                    <li>
                                        {% if book.lang_category == 1 %}
                                        {% if book.author.all|length > 1 %} 
					 <span class="nh_info-title">Авторы: </span>  
					    {% else %}
                                        <span class="nh_info-title">Автор: </span>
					    {% endif %}
					{% if book.author_book %}
                                        <span class="nh_info-value">{{ book.author_book }}</span>
					{% else %}
                                    {% for author in book.author.all %}
                                    <span class="nh_info-value"><a href="{{ author.get_absolute_url }}">{{ author.name }}{% if not forloop.last %}, {% endif %}</a></span>
                                    
                                    {% endfor %}
					{% endif %}
                                        {% endif %}
                                       
                                        {% if book.lang_category == 2 %}
					{% if book.author.all|length > 1 %} 
					 <span class="nh_info-title">Authors: </span>  
					    {% else %}
                                        <span class="nh_info-title">Author: </span>
					    {% endif %}
                                        {% if book.author_book %}
                                        <span class="nh_info-value">{{ book.author_book }}</span>
					{% else %}
					{% for author in book.author.all %}
                                        <span class="nh_info-value"><a href="{{ author.get_absolute_url }}">{{ author.name }}{% if not forloop.last %}, {% endif %}</a></span>
					    
                                        {% endfor %}
					{% endif %}
                                        {% endif %}
                                    </li>
                                    
                                    <li>
                                        {% if book.lang_category == 1 %}
                                        <span class="nh_info-title">Дата выхода: </span>
                                        <span class="nh_info-value">{{ book.release_date }}</span>
                                        {% endif %}
                                        {% if book.lang_category == 2 %}
                                        <span class="nh_info-title">Release date: </span>
                                        <span class="nh_info-value">{{ book.release_date }}</span>
                                        {% endif %}
                                    </li>

                                    <li>
                                        {% if book.lang_category == 1 %}
                                        <span class="nh_info-title">Издательство: </span>


					{% for publisher_book in book.publisher_book.all %}
                                        <span class="nh_info-value"><a href="{{ publisher_book.get_absolute_url }}">{{ publisher_book.name }}</a></span>					    
                                         {% endfor %}
                                        {% endif %}
 
					    
                                        {% if book.lang_category == 2 %}
                                        <span class="nh_info-title">Publisher: </span>

					{% for publisher_book in book.publisher_book.all %}
                                        <span class="nh_info-value"><a href="{{ publisher_book.get_absolute_url }}">{{ publisher_book.name }}</a></span>					    
                                         {% endfor %}

					 {% endif %}  
                                    </li>

                                    <li>
                                        {% if book.lang_category == 1 %}
                                        <span class="nh_info-title">Количество страниц: </span>
                                        <span class="nh_info-value">{{ book.book_pages }}</span>
                                        {% endif %}
                                        {% if book.lang_category == 2 %}
                                        <span class="nh_info-title">Number of pages: </span>
                                        <span class="nh_info-value">{{ book.book_pages }}</span>
                                        {% endif %}
                                    </li>

                                    <li>
					    {% if book.book_file %}
                                        {% if book.lang_category == 1 %}
                                        <span class="nh_info-title">Размер файла: </span>
                                        <span class="nh_info-value">{{ book.book_file.size|filesizeformat }}</span> 
                                        {% endif %}
                                        {% if book.lang_category == 2 %}
                                        <span class="nh_info-title">File Size: </span>
			
                                        <span class="nh_info-value">{{ book.book_file.size|filesizeformat }}</span>
					
					                {% endif %}  
                        {% else %}
                        {% endif %}
                                    </li>

                                </ul> 
                                
                                {% if book.book_file %}

                                <div class="nh_detail-buttons">
                                    <div>

  

	                                    {% if book.lang_category == 1 %}
					    
					    
                                        <a href="{{ book.book_file.url }}" target="_blank" class="nh_button">Скачать</a>

					    
                                        {% endif %}
					    
	                                    {% if book.lang_category == 2 %}
					    

                                        <a href="{{ book.book_file.url }}" target="_blank" class="nh_button">Download</a>

					    
                                        {% endif %}
                                    </div>

                                    <div>
	                                    {% if book.lang_category == 1 %}
					    {% if book.virus_total %}
                                         <a href="{{ book.virus_total }}"  target="_blank" class="nh_button">Проверить на вирусы</a>
					    {% else %}					    
                                            {% endif %}
                                            {% endif %}
	                                    {% if book.lang_category == 2 %}
					    {% if book.virus_total %}
                                        <a href="{{ book.virus_total }}"  target="_blank" class="nh_button">Scan for viruses</a>
					    {% else %}
                                            {% endif %}
				            {% endif %}
                                    </div>

                                    <div>
                                        {% if book.codes %}
	                                    {% if book.lang_category == 1 %}
                                        <a href="{{ book.codes }}" target="_blank" class="nh_button">Исходный код</a>
                                        {% endif %}
	                                    {% if book.lang_category == 2 %}
                                        <a href="{{ book.codes }}" target="_blank" class="nh_button">Source Code</a>
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                </div>

                                {% else %}

                                {% if book.lang_category == 1 %}
                                <p style="text-align:center"><span style="color:#c0392b">Внимание!!!! Книга удалена по требованию правообладателя!!!!</span></p>
                                {% endif %}
                                {% if book.lang_category == 2 %}
                                <p style="text-align:center"><span style="color:#c0392b">Attention!!!! The book was deleted at the request of the copyright holder!!!!</span></p>
                                {% endif %}

                  {% endif %}

                                <div class="nh_detail-description">
                                    {% autoescape off %}
                                    {{ book.description }}
                                    {% endautoescape %}
					
                            <iframe src="https://yoomoney.ru/quickpay/fundraise/widget?billNumber=Y6PvfAHiLqk.230907&" width="100%" height="480" frameborder="0" allowtransparency="true" scrolling="no"></iframe>

                                </div>
                            </div>
                        </div>
                                                                               
        {% if book.lang_category == 1 %}
 <p>Если вам понравилась эта книга поделитесь ею с друзьями, тем самым вы помогаете нам
                развиваться и добавлять всё больше интересных и нужным вам книг!</p>

	{% endif %}

        {% if book.lang_category == 2 %}
<p>If you liked this book, share it with your friends, thus you help us develop and add more interesting and necessary books for you!</p>

	{% endif %}

                            <script src="https://yastatic.net/share2/share.js"></script>
                            <div class="ya-share2" data-curtain data-color-scheme="blackwhite" data-services="messenger,vkontakte,odnoklassniki,telegram,twitter,viber,whatsapp,moimir,skype,tumblr,linkedin,lj,blogger,reddit,surfingbird"></div>
                            <br>
                        <!-- Yandex.RTB R-A-2223408-8 -->
                        <div id="yandex_rtb_R-A-2223408-8"></div>
                        <script>
                        window.yaContextCb.push(()=>{
                            Ya.Context.AdvManager.render({
                                "blockId": "R-A-2223408-8",
                                "renderTo": "yandex_rtb_R-A-2223408-8",
                                "type": "feed"
                            })
                        })
                        </script>
                                                
                        <!-- Yandex.RTB R-A-2223408-9 -->
                        <script>
                        window.yaContextCb.push(()=>{
                            Ya.Context.AdvManager.render({
                                "blockId": "R-A-2223408-9",
                                "type": "floorAd",
                                "platform": "touch"
                            })
                        })
                        </script>

                        </div>
                                              
        </div>

        {% endblock %}
