{% extends 'base.html' %}
{% load static %}
{% block description %}
<meta name="yandex-verification" content="52c5316e8a9a8ec8" >
<meta name="google-site-verification" content="QXb2o4D0DvOEv7khC4o54tRx_KwkjGMBviXgpVB0H2Q" >
    <meta name="description"
          content="CoderBooks это самая большая и бесплатная библиотека для начинающего и опытного программиста">
{% endblock %}
<link rel="icon" type="image/svg" href="https://coderbooks.ru/static/icons/apple-icon-120x120.svg">
<title>
    {% block title %}
        CoderBooks учебная литература для программистов
    {% endblock %} | CoderBooks
</title>
{% block content %}<br>
{% include 'partner.html' %}
<h1>Книги по программированию и IT</h1>
<hr>

<p>
  <a class="btn btn-secondary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Фильтрация
  </a>
</p>
<div class="collapse" id="collapseExample">
    <form method="GET">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-secondary">Фильтровать</button> 
    </form>
</div>
<br>
<div class="row">
  <div class="row d-flex align-items-stretch justify-content-center">
  {% for book in page_object %}
  <div class="col-sm-3" style="display: flex; margin-bottom: 10px;">
    <div class="card border-1">
      <div class="card-body d-flex flex-column align-items-center justify-content-between">
          <div class="position-relative">
            <a href="{{ book.get_absolute_url }}">
            <img src="{{ book.img_file.url }}" alt="{{ book.title }}" class="img-fluid">
            <div class="position-absolute top-0 start-0 d-flex align-items-center justify-content-center">
              <span class="badge bg-danger">{{ book.category.first }}</span>
              <span class="badge bg-success">{% if book.lang_category == 1 %}русский{% endif %}{% if book.lang_category == 2 %}english{% endif %}</span>
              <span class="badge bg-primary">{{ book.release_date }}</span>
            </div></a>
          </div>
       
          <a class="text-decoration-none text-reset" href="{{ book.get_absolute_url }}"><h5 class="card-title">{{ book.title }} - {{ book.author_book }}</h5></a>
        <a href="{{ book.get_absolute_url }}" class="btn btn-secondary">Перейти</a>
       </div>
    </div><br>
  </div>
{% endfor %}
</div>
</div>
    {% if is_paginated %}
    <div class="container text-center">
    <div class="btn-group me-2" role="group">
      <a class="btn btn-outline-secondary page-item {% if not prev_url %}disabled{% endif %}" href="{{ prev_url }}" role="button">Назад</a>&nbsp;
      {% for n in page_object.paginator.page_range %}
      {% if page_object.number == n %}
      <a class="btn btn-outline-secondary active" href="?page={{ n }}" role="button">{{ n }}</a>&nbsp;
      {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
      <a class="btn btn-outline-secondary" href="?page={{ n }}" role="button">{{ n }}</a>&nbsp;
      {% endif %}{% endfor %}
      <a class="btn btn-outline-secondary page-item {% if not next_url %}disabled{% endif %}" href="{{ next_url }}" role="button">Вперёд</a>
    </div>
    </div>
    {% endif %}
{% endblock %}
