{% extends 'base.html' %}
{% block title %}
    Скачать книги в pdf по {{ category.title }}
{% endblock %}
{% block description %}
    <meta name="description" content="Книги по программированию на {{ category.title }} - скачать и читать онлайн бесплатно и без регистрации &#11088;  Основы и руководства &#128285;  Для начинающих и профессионалов.">
{% endblock %}
{% block content %}
<br/><h1>&nbsp;&nbsp;{{ category.title }}</h1><hr>

<p>
  <a class="btn btn-secondary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Фильтрация
  </a>
</p>
<div class="collapse" id="collapseExample">
    <form method="GET">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-secondary">Фильтровать</button> 
    </form>
</div>

<div class="row">
  <div class="row d-flex align-items-start justify-content-center">
  {% for book in page_object1 %}
  <div class="col-sm-3">
    <div class="card border-1">
      <div class="card-body d-flex flex-column align-items-center justify-content-between">
          <div class="position-relative">
            <a href="{{ book.get_absolute_url }}">
            <img src="{{ book.img_file.url }}" alt="{{ book.title }}" class="img-fluid">
            <div class="position-absolute top-0 start-0 d-flex align-items-center justify-content-center">
              <span class="badge bg-success">{% if book.lang_category == 1 %}русский{% endif %}{% if book.lang_category == 2 %}english{% endif %}</span>
              <span class="badge bg-primary">{{ book.release_date }}</span>
            </div></a>
          </div>
       
          <a class="text-decoration-none text-reset" href="{{ book.get_absolute_url }}"><h5 class="card-title">{{ book.title }}-{{ book.author_book }}</h5></a>
        <a href="{{ book.get_absolute_url }}" class="btn btn-secondary">Перейти</a>
       </div>
    </div><br>
  </div>
{% endfor %}
</div>
</div>
    {% endblock %}    
    <br/>
    {% block paginator %}
    <div class="container text-center">
    {% if paginator1.count %}
    {% if is_paginated1 %}
    <div class="btn-group me-2" role="group">
      <a class="btn btn-outline-secondary page-item {% if not prev_url1 %} disabled{% endif %}" href="{{ prev_url1 }}" role="button">Назад</a>&nbsp;
      {% for n in page_object1.paginator.page_range %}
      {% if page_object1.number == n %}
      <a class="btn btn-outline-secondary active" href="?page={{ n }}" role="button">{{ n }}</a>&nbsp;
      {% elif n > page_object1.number|add:-3 and n < page_object1.number|add:3 %}
      <a class="btn btn-outline-secondary" href="?page={{ n }}" role="button">{{ n }}</a>&nbsp;
      {% endif %}{% endfor %}
      <a class="btn btn-outline-secondary page-item {% if not next_url1 %}disabled{% endif %}" href="{{ next_url1 }}" role="button">Вперёд</a>
    </div>
    {% endif %}
    {% endif %}
    </div>
    {% endblock %}
