{% extends 'base.html' %}
{% block title %}
    Скачать книги в pdf по {{ category.title }}
{% endblock %}
{% block description %}
    <meta name="description" content="Книги по программированию на {{ category.title }} - скачать и читать онлайн бесплатно и без регистрации &#11088;  Основы и руководства &#128285;  Для начинающих и профессионалов.">
{% endblock %}
{% block content %}
<br/><h1>&nbsp;&nbsp;{{ category.title }}</h1><hr>
        {% for book in page_object1 %}
<div class="row g-0">
      {% if book.img_file %}
    <div class="col-md-1">
      <a href='https://coderbooks.ru{{ book.get_absolute_url }}'><img src="https://coderbooks.ru{{ book.img_file.url }}" class="img-fluid img-thumbnail" alt="{{ book.title }}"></a>
    </div>
      {% endif %}
    <div class="col-md-8 px-4">
      <div class="card-body">
               <h5 class="card-title"><a href='{{ book.get_absolute_url }}' class='text-decoration-none text-reset'>{{ book.title }}.{% if book.author_book %} {{ book.author_book }} {% endif %}
{% if book.release_date %} ({{ book.release_date }}) {% endif %}</a></h5>
              <p class="card-text">{% autoescape off %}
                {{ book.description|truncatewords:40 }}
            {% endautoescape %}</p>            
      {% if book.lang_category == 1 %}<p class="card-text"><small class="badge bg-secondary">русский</small></p>{% endif %}
      {% if book.lang_category == 2 %}<p class="card-text"><small class="badge bg-secondary">english</small></p>{% endif %} 
            </div><hr>
          </div>
        </div>      
    {% endfor %}
    {% endblock %}    
    <br/>
    {% block paginator %}
    <div class="container text-center">
    {% if paginator1.count %}
    {% if is_paginated1 %}
    <div class="btn-group me-2" role="group">
      <a class="btn btn-outline-secondary page-item {% if not prev_url1 %} disabled{% endif %}" href="{{ prev_url1 }}" role="button">Назад</a>&nbsp;
      {% for n in page_object1.paginator.page_range %}
      {% if page_object1.number == n %}
      <a class="btn btn-outline-secondary active" href="?page={{ n }}" role="button">{{ n }}</a>&nbsp;
      {% elif n > page_object1.number|add:-3 and n < page_object1.number|add:3 %}
      <a class="btn btn-outline-secondary" href="?page={{ n }}" role="button">{{ n }}</a>&nbsp;
      {% endif %}{% endfor %}
      <a class="btn btn-outline-secondary page-item {% if not next_url1 %}disabled{% endif %}" href="{{ next_url1 }}" role="button">Вперёд</a>
    </div>
    {% endif %}
    {% endif %}
    </div>
    {% endblock %}
