{% extends 'base.html' %}
{% block title %}Правообладателям{% endblock %}
{% block content %}
 <div>
<h1>Информация для правообладателей</h1>
    <p>
      Уважаемые правообладатели,
    </p>
    <p>
      Благодарим вас за проявленный интерес к соблюдению авторских прав на книги, представленные на нашем сайте. Мы принимаем все меры для того, чтобы обеспечить соблюдение прав интеллектуальной собственности и готовы незамедлительно реагировать на любые запросы, связанные с нарушением авторских прав.
    </p>
    <p>
      Пожалуйста, предоставьте нам следующую информацию по электронной почте по адресу <a href="mailto:coderbooks@inbox.ru">coderbooks@inbox.ru</a>:
    </p>
    <ol>
      <li>
        <strong>Документ подтверждающий право владения авторскими правами на книгу:</strong> Пожалуйста, предоставьте копию или отсканированную версию документа, удостоверяющего ваши права на данную книгу. Это может быть лицензионное соглашение, договор об авторских правах или другой подтверждающий документ.
      </li>
      <li>
        <strong>Ссылка на страницу с книгой у нас на сайте:</strong> Прикрепите ссылку на страницу, где размещена книга, вопросы по которой у вас возникли. Это поможет нам быстро идентифицировать контент и принять необходимые меры.
      </li>
    </ol>
    <p>
      Мы привержены соблюдению законов об авторских правах и готовы сотрудничать с вами для решения любых возникающих вопросов. Пожалуйста, будьте уверены, что мы примем все необходимые меры для рассмотрения вашего запроса и принятия соответствующих мер в кратчайшие сроки.
    </p>
    <p>
      С уважением,<br>
      The CoderBooks Team<br>
      <a href="mailto:coderbooks@inbox.ru">coderbooks@inbox.ru</a>
    </p>
  </div>
{% endblock %}
