{% extends 'base.html' %}
{% load i18n %}
{% block title %}Правообладателям{% endblock %}
{% block content %}
 <div class="nh_content-static">

{% get_current_language as current_language %}

{% if current_language == lang %}
<h1>Информация для правообладателей</h1><br>
    <p>
      Уважаемые правообладатели,
    </p>
    <p>
      Благодарим вас за проявленный интерес к соблюдению авторских прав на книги, представленные на нашем сайте. Мы принимаем все меры для того, чтобы обеспечить соблюдение прав интеллектуальной собственности и готовы незамедлительно реагировать на любые запросы, связанные с нарушением авторских прав.
    </p>
    <p>
      Пожалуйста, предоставьте нам следующую информацию по электронной почте по адресу <a href="mailto:coderbooks@inbox.ru">coderbooks@inbox.ru</a>:
    </p>
    <ol>
      <li>
        <strong>Документ подтверждающий право владения авторскими правами на книгу:</strong> Пожалуйста, предоставьте копию или отсканированную версию документа, удостоверяющего ваши права на данную книгу. Это может быть лицензионное соглашение, договор об авторских правах или другой подтверждающий документ.
      </li>
      <li>
        <strong>Ссылка на страницу с книгой у нас на сайте:</strong> Прикрепите ссылку на страницу, где размещена книга, вопросы по которой у вас возникли. Это поможет нам быстро идентифицировать контент и принять необходимые меры.
      </li>
    </ol>
    <p>
      Мы привержены соблюдению законов об авторских правах и готовы сотрудничать с вами для решения любых возникающих вопросов. Пожалуйста, будьте уверены, что мы примем все необходимые меры для рассмотрения вашего запроса и принятия соответствующих мер в кратчайшие сроки.
    </p>
    <p>
      С уважением,<br>
      The CoderBooks Team<br>
      <a href="mailto:coderbooks@inbox.ru">coderbooks@inbox.ru</a>
    </p>
{% else %}
<h1>Information for copyright holders</h1><br>
    <p>
      Dear copyright holders,
    </p>
    <p>
      Thank you for your interest in respecting the copyrights of the books presented on our website. We take all measures to ensure that intellectual property rights are respected and are ready to respond immediately to any requests related to copyright infringement.
    </p>
    <p>
      Please provide us with the following information by e-mail at <a href="mailto:coderbooks@inbox.ru ">coderbooks@inbox.ru </a>:
    </p>
    <ol>
      <li>
        <strong>A document confirming the ownership of the copyright to the book:</strong> Please provide a copy or scanned version of the document certifying your rights to this book. This may be a license agreement, a copyright agreement, or other supporting document.
      </li>
      <li>
        <strong>Link to the book page on our website:</strong> Attach a link to the page where the book you have any questions about is posted. This will help us quickly identify the content and take the necessary measures.
      </li>
    </ol>
    <p>
      We are committed to complying with copyright laws and are ready to work with you to resolve any issues that arise. Please rest assured that we will take all necessary measures to review your request and take appropriate action as soon as possible.
    </p>
    <p>
      Sincerely,<br>
      The CoderBooks Team<br>
      <a href="mailto:coderbooks@inbox.ru">coderbooks@inbox.ru</a>
    </p>
{% endif %}
  
  </div>
{% endblock %}
