{% extends 'base.html' %}
{% block title %}Политика конфиденциальности CoderBooks{% endblock %}
{% block content %}
 <div>
<h1>Информация для правообладателей</h1><br>
    <p>
      Посещая web-ресурс CoderBooks.ru, вы соглашаетесь с описанной ниже политикой конфиденциальности.
    </p>

    <h3>1. Сторонние ресурсы</h3>
    <p>
      На сайте используются следующие сторонние ресурсы:
      <ul>
        <li>Google AdSense, Google Analytics, Google Ad Manager;</li>
        <li>Яндекс.Метрика, Рекламная сеть Яндекса;</li>
        <li>Microsoft Clarity.</li>
      </ul>
    </p>

    <h3>2. Цели сбора и обработки персональной информации</h3>
    <p>
      Мы собираем и обрабатываем персональную информацию пользователей с целью улучшения качества предоставляемых услуг, персонализации контента, анализа поведения пользователей и обеспечения безопасности данных.
    </p>

    <h3>3. Защита персональной информации</h3>
    <p>
      Администрация CoderBooks принимает все возможные меры для предотвращения нелегального использования персональных данных пользователей.
    </p>

    <h3>4. Обратная связь. Вопросы и предложения</h3>
    <p>
      Мы открыты к вопросам и предложениям. Обращайтесь на почту <a href="mailto:coderbooks@inbox.ru">coderbooks@inbox.ru</a>.
    </p>

    <p>
      Спасибо за доверие и использование CoderBooks.ru! Мы стремимся обеспечить защиту вашей конфиденциальности и предоставить наилучший опыт использования нашего ресурса.
    </p>
  </div>
{% endblock %}
