{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
{% get_current_language as current_language %}{% if current_language == lang %}
Все книги {{ publisher_book.name }} скачать бесплатно в pdf
{% else %}
All books by {{ publisher_book.name }} are available for free download in PDF format
{% endif %}
{% endblock %}
{% block description %}
{% get_current_language as current_language %}{% if current_language == lang %}
<meta name="description" content="🔝 Список книг издательства {{ publisher_book.name }}, доступных для чтения бесплатно в формате pdf, биография и интересные факты на сайте онлайн библиотеки по программированию CoderBooks.ru">
{% else %}
<meta name="description" content="🔝 The list of books by publishing {{ publisher_book.name }}, available for free reading in PDF format, along with biography and interesting facts, is available on the programming online library website CoderBooks.ru.">
{% endif %}
<meta property="og:type" content="article">
{% get_current_language as current_language %}{% if current_language == lang %}
<meta property="og:title" content="Все книги {{ publisher_book.name }} скачать бесплатно в pdf">
{% else %}
<meta property="og:title" content="All books by {{ publisher_book.name }} are available for free download in PDF format">
{% endif %}
<meta property="og:url" content="https://coderbooks.ru/{{ book.get_absolute_url }}">
{% get_current_language as current_language %}{% if current_language == lang %}
<meta property="og:description" content="🔝 Список книг издательства {{ publisher_book.name }}, доступных для чтения бесплатно в формате pdf, биография и интересные факты на сайте онлайн библиотеки по программированию CoderBooks.ru">
{% else %}
<meta property="og:description" content="🔝 The list of books by publishing {{ publisher_book.name }}, available for free reading in PDF format, along with biography and interesting facts, is available on the programming online library website CoderBooks.ru">
{% endif %}
{% endblock %}
{% block content %} 
                    <div class="nh_detail-page">
			    
                        <h1>{{ publisher.name }}</h1>
                        <div class="nh_content-detail">
                            <div class="nh_detail-image">
				    {% if publisher.image %} 
				    <img src="{{ publisher.image.url }}">
				    {% else %} 
				    <img src="{% static 'image/no_foto.webp' %}">
				    {% endif %}
                            </div>
                            <div class="nh_detail">
                            
                             {% get_current_language as current_language %}{% if current_language == lang %}
                                <span class="nh_info-title">Информация об издательстве:</span>
                             {% else %}
                                <span class="nh_info-title">Information about the publisher:</span>
                             {% endif %}
                                <div class="nh_detail-description">
                                     {% autoescape off %}
                                    {{ publisher.description }}
                                   {% endautoescape %}

					
                                <ul class="nh_detail-info">

                                    <li>
                             {% get_current_language as current_language %}{% if current_language == lang %}
                                        <span class="nh_info-title"><br>Книги:</span>
                             {% else %}
                                        <span class="nh_info-title"><br>Books:</span>
                             {% endif %}
                                        {% for books in publisher.publisher_books.all %}<br>
                                        <span class="nh_info-value"><a href="{% url 'book_detail_url' books.slug %}">{{ books.title }}</a></span>
                                        {% endfor %}
                                        
                                    </li> 
                                </ul>

					<br><br>
                            <iframe src="https://yoomoney.ru/quickpay/fundraise/widget?billNumber=Y6PvfAHiLqk.230907&" width="100%" height="480" frameborder="0" allowtransparency="true" scrolling="no"></iframe>

                                </div>
                            </div>
                        </div>                                                                               

                            <script src="https://yastatic.net/share2/share.js"></script>
                            <div class="ya-share2" data-curtain data-color-scheme="blackwhite" data-services="messenger,vkontakte,odnoklassniki,telegram,twitter,viber,whatsapp,moimir,skype,tumblr,linkedin,lj,blogger,reddit,surfingbird"></div>
                            <br>  

                        <!-- Yandex.RTB R-A-2223408-8 -->
                        <div id="yandex_rtb_R-A-2223408-8"></div>
                        <script>
                        window.yaContextCb.push(()=>{
                            Ya.Context.AdvManager.render({
                                "blockId": "R-A-2223408-8",
                                "renderTo": "yandex_rtb_R-A-2223408-8",
                                "type": "feed"
                            })
                        })
                        </script>
                                                
                        <!-- Yandex.RTB R-A-2223408-9 -->
                        <script>
                        window.yaContextCb.push(()=>{
                            Ya.Context.AdvManager.render({
                                "blockId": "R-A-2223408-9",
                                "type": "floorAd",
                                "platform": "touch"
                            })
                        })
                        </script>
			    
                        </div>
                                              
        </div>

 {% endblock %}
