{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}Скачать книги в pdf по {{ release.year }}{% endblock %}

{% block description %}
    <meta name="description" content="Книги по программированию на {{ release.year }} - скачать и читать онлайн бесплатно и без регистрации &#11088;  Основы и руководства &#128285;  Для начинающих и профессионалов.">
{% endblock %}

{% block content %} 
{% get_current_language as current_language %}
<h1>{{ release.year }}</h1>
<div class="nh_content-list">
{% for book in page_object1 %}
<div class="nh_content-list-item">
    <a href="{{ book.get_absolute_url }}"class="nh_item-image">
        <img src="{{ book.img_file.url }}">
    </a>
    <div class="nh_item-content">
        <a href="{{ book.get_absolute_url }}" class="nh_item-title">
            <h2>{{ book.title }} - {% if book.author_book %}{{ book.author_book }}{% else %}
					{% for author in book.author.all %}{{author.name }}{% if not forloop.last %}, {% endif %}
                         {% endfor %}{% endif %}</h2>
        </a>
        <div>
            <div class="nh_item-date">
                <div class="nh_item-date-block">
                    <svg><use xlink:href="#icon-calendar"></use></svg>
                    			{% if book.release_date %}<span>{{ book.release_date }}</span>
					{% else %}
					{% for release in book.release.all %}<span>{{release.year }}</span>{% endfor %}	                        
					{% endif %}
                </div>
                <div class="nh_item-date-block">
                    <svg><use xlink:href="#icon-folder"></use></svg>
                    <a href="{{ category.get_absolute_url }}">{{ book.category.first }}</a>
                </div>
                <div class="nh_item-date-block">
                    <svg><use xlink:href="#icon-earth"></use></svg>
                    <span>{% if book.lang_category == 1 %}русский{% endif %}{% if book.lang_category == 2 %}english{% endif %}</span>
                </div>
            </div>
            <div class="nh_item-description" style="height: 40px">{% autoescape off %}{{ book.description }}{% endautoescape %}</div>
            <a href="{{ book.get_absolute_url }}" class="nh_item-url">{% if current_language == lang %}Перейти >{% else %}Go to >{% endif %}</a>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% if paginator1.count %}
{% if is_paginated1 %}
<div class="nh_pagination">
    <a class="nh_pagination-button {% if not prev_url %}disabled{% endif %}" href="{{ prev_url }}"><</a>

    {% for n in page_object1.paginator.page_range %}
    {% if page_object1.number == n %}

    <a class="nh_pagination-button active" href="?page={{ n }}">{{ n }}</a>
    {% elif n > page_object1.number|add:-3 and n < page_object1.number|add:3 %}

    <a class="nh_pagination-button" href="?page={{ n }}">{{ n }}</a>

    {% endif %}{% endfor %}

    <a class="nh_pagination-button {% if not next_url %}disabled{% endif %}" href="{{ next_url }}">></a>

</div>
{% endif %}
{% endif %}
{% endblock %}
