body {
    font-family: 'Poppins', Arial, sans-serif;
    background: #FFF;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    color: #666666;
    margin: 0;
    padding: 0;
}
a {
    color: #667EFF;
    text-decoration: none;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
    line-height: 1.1;
    color: rgba(0,0,0,.8);
    font-weight: normal;
    margin: 0;
}
h1, .h1 {
    font-size: 42px;
    border-bottom: 1px solid #CCC;
    font-weight: 400;
    margin-bottom: 20px;
}
#svg-sprite {
    display: none;
}
.nh_page {
    display: flex;
    width: 100%;
    min-height: 100vh;
}
.nh_menu {
    width: 25%;
    background-color: #667EFF;
    position: relative;
}
.nh_menu-content {
    padding: 0 30px 130px;
}
.nh_menu a {
    transition: .3s all ease;
}
.nh_menu-logo {
    color: #fff;
    font-size: 42px;
    font-weight: 600;
}
.nh_menu-list {
    list-style: none;
    margin: 0;
    padding: 0 0 0 5px;
}
.nh_menu-list.fixed {
    position: fixed;
    bottom: 180px;
}
.nh_menu-list-item a {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    transition: .3s;
    position: relative;
}
.nh_menu-list-item a:after {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    transform: scaleX(0);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    visibility: hidden;
}
.nh_search-form {
    position: relative;
    margin-bottom: 20px;
}
.nh_search-input {
    height: 50px;
    padding: 0 40px 0 10px;
    background: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #000;
    font-size: 16px;
    outline: none;
    width: 100%;
}
.nh_search-button {
    position: absolute;
    top: calc(50% - 17px);
    right: 10px;
}
.nh_search-button svg {
    width: 34px;
    height: 34px;
    color: #bfbfbf;
}
.nh_button-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}
.nh_footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 120px;
    width: 25%;
    min-width: 300px;
    z-index: 1;
    background-color: #667EFF;
    padding: 10px 30px;
    box-shadow: 0 -5px 5px -5px rgba(71, 71, 71, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.nh_social-icons {
    display: flex;
}
.nh_social-icons a {
    display: block;
    margin-right: 10px;
}
.nh_social-icons svg {
    width: 25px;
    height: 25px;
    color: #fff;
}
.nh_copyright {
    color: #fff;
    text-align: center;
    line-height: 15px;
    font-size: 13px;
}
.nh_copyright a {
    color: #fff;
    font-weight: 500;
}
.nh_content {
    width: 75%;
    padding: 10px 50px;
}
.nh_content-top {
    display: flex;
    align-items: center;
}
.nh_menu-button {
    padding: 25px 15px;
    cursor: pointer;
    height: 100%;
    border-right: 1px solid #FFF;
}
.nh_menu-hamburger {
     display: block;
     width: 22px;
     height: 2px;
     background-color: #FFF;
     position: relative;
 }
.nh_menu-hamburger:after, .nh_menu-hamburger:before {
    content: '';
    position: absolute;
    left: 0;
    top: -6px;
    display: inline-block;
    width: 22px;
    height: 2px;
    background-color: #FFF;
}
.nh_menu-hamburger:after {
    top: 6px;
}
.nh_content-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.nh_content-list-item {
    width: calc(100% / 3);
    max-width: 390px;
    display: flex;
    flex-direction: column;
}
.nh_item-image {
    position: relative;
    height: 340px;
    overflow: hidden;
}
.nh_item-image img {
    max-width: 100%;
    width: 100%;
    vertical-align: bottom;
    height: 340px;
    object-fit: cover;
}
.nh_item-content {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 30px;
    background-color: #fff;
    flex-grow: 1;
    justify-content: space-between;
}
.nh_content-list-item:nth-child(2n) .nh_item-content {
    background-color: #EEE;
}
.nh_item-date {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.nh_item-date-block {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.nh_item-date-block svg {
    width: 16px;
    height: 16px;
    color: #bfbfbf;
    margin-right: 5px;
}
.nh_item-description {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 20px;
}
.nh_item-description p {
    text-overflow: ellipsis;
    overflow: hidden;
}
.nh_item-title {
    margin: 10px 0;
}
.nh_content-bottom {
    position: relative;
}
.nh_content-detail {
    display: flex;
}
.nh_detail-image {
    width: 40%;
}
.nh_detail-image img {
    width: 100%;
    vertical-align: bottom;
    border: 1px solid #CCC;
}
.nh_detail {
    padding: 0 10px 20px 30px;
    width: 60%;
}
.nh_detail-info {
    padding: 0;
    margin: 0;
    list-style: none;
}
.nh_info-title {
    font-weight: 600;
}
.nh_detail-buttons {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0 10px;
    justify-content: center;
}
.nh_detail-buttons > div {
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
    min-width: 150px;
    padding: 5px;
}
.nh_button {
    padding: 0 20px;
    border-radius: 5px;
    border: 2px solid #667EFF;
    color: #667EFF;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    text-align: center;
    max-width: max-content;
    outline: none;
    background-color: transparent;
}
.nh_button.white {
    color: #fff;
    border-color: #fff;
}
.nh_content-advertising {
    text-align: center;
    overflow-x: hidden;
    font-size: 36px;
}
.nh_footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.nh_footer-menu a {
    color: #FFF;
    white-space: nowrap;
    font-size: 13px;
    margin-right: 5px;
    line-height: 19px;
}
.nh_mobile-logo {
    color: #FFF;
    font-size: 24px;
    margin-left: 10px;
}
.nh_pagination {
    display: flex;
    justify-content: center;
    margin: 30px 5px 50px;
}
.nh_pagination-button {
    margin: 0 2px;
    width: 40px;
    height: 40px;
    border: 2px solid #667EFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 5px;
}
.nh_pagination-button.active {
    background-color: #667EFF;
    color: #FFF;
    pointer-events: none;
    cursor: default;
}
.nh_pagination-button.disabled {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
}
.nh_detail-page {
    position: relative;
}
.js-accordion-body {
    max-height: 0;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
}
.js-accordion.active .js-accordion-body {
    visibility: visible;
    opacity: 1;
}
.nh_filter {
    margin: 20px 0;
    padding: 0 10px;
}
.nh_filter-content {
    padding: 20px 0 0;
}
.nh_filter-form label {
    margin-bottom: 10px;
    display: block;
}
.nh_content-static {
    padding: 0 10px;
}
select {
    width: 100%;
    height: 40px;
    outline: none;
    border-color: #667EFF;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 5px;
}
.nh_mobile-top-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 5px;
}
.nh_mobile-top-links .nh_donate_button {
    height: 32px;
    font-size: 14px;
    padding: 0 5px;
}
@media (max-width: 1200px) {
    .nh_menu-logo {
        font-size: 36px;
    }
    .nh_content-list-item {
        width: 50%;
    }
}
@media (min-width: 900px) {
    a:hover {
        text-decoration: none;
        color: #667EFF;
        outline: none !important;
    }
    .nh_menu-logo:hover, .nh_menu-list-item a:hover, .nh_footer-menu a:hover {
        color: #fff;
    }
    .nh_menu {
        min-width: 300px;
    }
    .nh_pagination-button:not(.disabled):hover {
        background-color: #667EFF;
        color: #FFF;
    }
    .nh_menu-list-item a:hover:after {
        transform: scaleX(1);
        visibility: visible;
    }
    .nh_content-list-item:hover .nh_item-image:after {
        content: '';
        background-color: #0028ff;
        opacity: .4;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    .nh_content-list-item:hover .nh_item-content {
        background-color: #667EFF;
    }
    .nh_content-list-item:hover .nh_item-content,
    .nh_content-list-item:hover .nh_item-content a,
    .nh_content-list-item:hover .nh_item-content h2,
    .nh_content-list-item:hover .nh_item-content svg,
    .nh_copyright a:hover {
        color: #fff;
    }
    .nh_search-button:hover svg {
        color: #667EFF;
    }
    .nh_content-top {
        display: none;
    }
    .nh_button:hover {
        background-color: #667EFF;
        color: #FFF;
    }
    .nh_content-table {
        display: flex;
        flex-wrap: wrap;
    }
    .nh_content-table a {
        max-width: max-content;
    }
    .nh_content-table .nh_item-content {
        max-width: calc(100% - 200px);
    }
    .nh_content-table .nh_content-list-item {
        width: 100%;
        height: 200px;
        max-width: none;
        flex-direction: row;
    }
    .nh_content-table .nh_item-image {
        min-width: 200px;
        width: 220px;
        height: auto;
        position: relative;
    }
    .nh_content-table .nh_item-image img {
        max-width: none;
        height: 220px;
    }
    .nh_content-table .nh_item-description {
        margin-bottom: 0;
    }
    .nh_content-table .nh_item-content {
        padding: 10px;
    }
    .nh_content-table .nh_item-date {
        margin-bottom: 5px;
    }
    .nh_footer {
        height: 170px;
    }
    .nh_donate_button {
        margin-bottom: 10px;
    }
}
@media (max-width: 899px) {
    .nh_page {
        flex-direction: column;
    }
    .nh_content {
        width: 100%;
        padding: 0;
    }
    .nh_content-list {
        padding: 10px 20px;
    }
    h1, .h1 {
        font-size: 28px;
        padding: 15px 5px 15px 10px;
        margin-bottom: 0;
    }
    .nh_content-top {
        background-color: #667EFF;
        box-shadow: 0 10px 5px -5px rgba(71, 71, 71, 0.4);
        position: sticky;
        top: 0;
        z-index: 3;
        height: 53px;
        max-height: 53px;
        border-bottom: 1px solid #FFF;
    }
    .nh_toggle-window {
        position: fixed;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        transition: 0.32s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
        box-shadow: 7px 8px 20px rgba(51,51,51,.15);
        transform: translateX(-110%);
        left: 0;
        top: 53px;
        width: 300px;
        z-index: 999;
        height: calc(100% - 53px);
    }
    .nh_toggle-window.active {
        transform: translateX(0);
    }
    .nh_footer {
        position: inherit;
        width: 100%;
    }
    .nh_detail-image {
        width: 100%;
        position: absolute;
        z-index: -1;
        opacity: .16;
        top: 0;
        border: none;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 50%, transparent 100%);
    }
    .nh_detail {
        width: 100%;
        padding: 15px;
    }
    .nh_menu-list.fixed {
        position: inherit;
    }
    .nh_menu-logo {
        display: none;
    }
    .nh_menu-content {
        padding: 20px;
    }
    .nh_toggle-background {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 1;
        background-color: #000;
        transition: 0.3s;
        opacity: .4;
    }
    .nh_footer .nh_donate_button {
        display: none;
    }
}
@media (max-width: 499px) {
    .nh_content-list-item {
        width: 100%;
    }
    h1, .h1 {
        font-size: 24px;
    }
    .nh_content-list {
        padding: 10px 0;
    }
    .nh_content-list-item {
        max-width: 400px;
    }
    .nh_footer {
        min-width: auto;
    }
}
@media (max-width: 320px) {
    .nh_mobile-logo {
        font-size: 16px;
    }
}
