<div class="nh_footer">
    <div class="nh_social-icons">
        <a href="https://www.facebook.com/coderbooks.ru" title="Facebook">
            <svg><use xlink:href="#icon-fb"></use></svg>
        </a>
        <a href="https://twitter.com/coderbooks" title="X Twitter">
            <svg><use xlink:href="#icon-twitter"></use></svg>
        </a>
        <a href="https://vk.com/coderbooks" title="ВКонтакте">
            <svg><use xlink:href="#icon-vk"></use></svg>
        </a>
        <a href="https://t.me/coderbooks_chanel" title="Telegram">
            <svg><use xlink:href="#icon-tg"></use></svg>
        </a>
        <a href="https://ok.ru/coderbooks" title="Одноклассники">
            <svg><use xlink:href="#icon-ok"></use></svg>
        </a>
        <a href="coderbooks@inbox.ru" title="Email">
            <svg><use xlink:href="#icon-email"></use></svg>
        </a>
    </div>
    <div class="nh_footer-menu">
        <a href="/about">О нас</a>
        <a href="/copyright">Правообладателям</a>
        <a href="/privacy-policy">Политика конфиденциальности</a>
        <a href="/agreement">Пользовательское соглашение</a>
    </div>
    <div class="nh_copyright">
        Copyright © {% now "Y" %} <a href="{% url 'book_list_url' %}">CoderBooks</a>
    </div>
</div>
