{% load i18n %}
<div class="nh_footer">
    <a href="https://yoomoney.ru/to/410012907398549/0" class="nh_button white nh_donate_button" target="_blank">
    {% get_current_language as current_language %}
    {% if current_language == lang %}Поддержать{% else %}Donate{% endif %}
    </a>
    <div class="nh_social-icons">
        <a href="https://www.facebook.com/coderbooks.ru" title="Facebook">
            <svg><use xlink:href="#icon-fb"></use></svg>
        </a>
        <a href="https://twitter.com/coderbooks" title="X Twitter">
            <svg><use xlink:href="#icon-twitter"></use></svg>
        </a>
        <a href="https://vk.com/coderbooks" title="ВКонтакте">
            <svg><use xlink:href="#icon-vk"></use></svg>
        </a>
        <a href="https://t.me/coderbooks_chanel" title="Telegram">
            <svg><use xlink:href="#icon-tg"></use></svg>
        </a>
        <a href="https://ok.ru/coderbooks" title="Одноклассники">
            <svg><use xlink:href="#icon-ok"></use></svg>
        </a>
        <a href="mailto:coderbooks@inbox.ru" title="Email">
            <svg><use xlink:href="#icon-email"></use></svg>
        </a>
    </div>
    <div class="nh_footer-menu">
        {% get_current_language as current_language %}

        {% if current_language == lang %}
        <a href="/about">| О нас | </a>
        {% else %}
        <a href="/about">| About us | </a>
        {% endif %}

        {% if current_language == lang %}
        <a href="/copyright">Правообладателям | </a>
        {% else %}
        <a href="/copyright">Copyright | </a>
        {% endif %}

        {% if current_language == lang %}
        <a href="/privacy-policy">Политика конфиденциальности | </a>
        {% else %}
        <a href="/privacy-policy">Privacy policy | </a>
        {% endif %}

        {% if current_language == lang %}
        <a href="/agreement">Пользовательское соглашение | </a>
        {% else %}
        <a href="/agreement">User agreement | </a>
        {% endif %}
    </div>
    <div class="nh_copyright">
        Copyright © {% now "Y" %} <a href="{% url 'book_list_url' %}">CoderBooks</a>
    </div>
</div>
