<div class="nh_pagination">
    <a class="nh_pagination-button {% if not prev_url %}disabled{% endif %}" href="{{ prev_url }}"><</a>

    {% if page_obj.has_previous %}
        {% if page_obj.number|add:'-3' > 1 %}
            <a class="nh_pagination-button" href="?page=1">1</a>
        {% endif %}
        {% if page_obj.number|add:'-3' >= 3 %}
            <a class="nh_pagination-button" href="?page={{ page_obj.previous_page_number|add:'-3' }}">• • •</a>
        {% endif %}
    {% endif %}

    {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
            <a class="nh_pagination-button active" href="#">{{ i }}</a>
        {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
            <a class="nh_pagination-button" href="?page={{ i }}">{{ i }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        {% if page_obj.number|add:'3' < page_obj.paginator.num_pages %}
            <a class="nh_pagination-button" href="?page={{ page_obj.next_page_number|add:'3' }}">• • •</a>
        {% endif %}
        {% if page_obj.number|add:'3' < page_obj.paginator.num_pages %}
            <a class="nh_pagination-button" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

    <a class="nh_pagination-button {% if not next_url %}disabled{% endif %}" href="{{ next_url }}">></a>
</div>
