<!DOCTYPE html>
{% block lang %}<html lang="ru">{% endblock %}
            {% load i18n %}
{% load static %}
            <head>
                <meta charset="utf-8">
                <meta name="google-adsense-account" content="ca-pub-8260628592580608">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <meta name="apple-mobile-web-app-capable" content="yes">
                <meta name="apple-mobile-web-app-status-bar-style" content="black">
                <meta http-equiv="x-ua-compatible" content="ie=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
                <meta name="theme-color" content="#343a40"/>
                <meta name="mobile-web-app-capable" content="yes">
                <meta name="apple-mobile-web-app-capable" content="yes">
                <meta name="application-name" content="CoderBooks учебная литература для программистов|CoderBooks">
                <meta name="apple-mobile-web-app-title" content="CoderBooks учебная литература для программистов|CoderBooks">
                <meta name="theme-color" content="#343a40">
                <meta name="msapplication-navbutton-color" content="#343a40">
                <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
                <meta name="msapplication-starturl" content="https://coderbooks.ru/books/">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <link rel="stylesheet" href="{% static 'css/style.min.css' %}?5472585835">
                <link rel="stylesheet" href="{% static 'fonts/stylesheet.min.css' %}">
                <link rel="apple-touch-icon" type="image/svg+xml" href="{% static 'static/icons/ios/192.png' %}">
                <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
                	<!-- Yandex.RTB -->
                <script>window.yaContextCb=window.yaContextCb||[]</script>
                <script src="https://yandex.ru/ads/system/context.js" async></script>
                <link rel="icon" type="image/svg+xml" href="/static/icons/ios/1201.svg">
                <link rel="apple-touch-icon" type="image/svg+xml" href="{% static 'static/icons/ios/192.png' %}">
                <link rel="home" type="application/rss+xml" href="{% url 'rss_url' %}"/>
                <link rel="manifest" href="/manifest.json">
            <script async type="application/ld+json">
            {
              "@context": "https://schema.org/",
              "@type": "WebSite",
              "name": "CoderBooks - онлайн библиотека для программиста",
              "url": "https://coderbooks.ru/books/",
              "potentialAction": {
                "@type": "SearchAction",
                "target": "https://coderbooks.ru/search/?search={search_term_string}",
                "query-input": "required name=search_term_string"
              }
            }
            </script>

            <!-- Yandex.RTB -->
            <script>window.yaContextCb=window.yaContextCb||[]</script>
            <script src="https://yandex.ru/ads/system/context.js" async></script>
    {% block description %}
        <meta name="description" content="CoderBooks это самая большая и бесплатная библиотека о программировании для начинающего и опытного программиста">
    {% endblock %}
                <title>
                {% block title %}
                    CoderBooks Портал для помощи программистам
                {% endblock %} | CoderBooks
                </title>
            </head>
            <body>
                {% include 'includes/fonts.html' %}
                <div class="nh_page">
{% include 'includes/menu.html' %}
                    <div class="nh_content">
                        <div class="nh_content-top">
                            <div class="nh_menu-button" data-toggle=".nh_menu">
                                <span class="nh_menu-hamburger"></span>
                            </div>
                            <div class="nh_mobile-top-links">
                                <a class="nh_mobile-logo" href="{% url 'book_list_url' %}">CoderBooks</a>
                                <a href="https://yoomoney.ru/to/410012907398549/0" class="nh_button white nh_donate_button" target="_blank">
                                            {% get_current_language as current_language %}
                                            {% if current_language == lang %}Поддержать{% else %}Donate{% endif %}
                                </a>
                            </div>
                        </div>
                        <div class="nh_content-bottom">
                            <div class="nh_content-advertising">
                                {% include 'partner.html' %}
                            </div>                                                                                                           
                                                                                
                                {% block content %}
                                {% endblock %}

                                {% block paginator %}
                                {% endblock %}
                                                           
                        </div>
                    </div>

                    {% include 'includes/footer.html' %}

                </div>


<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();
    for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
    k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
 
    ym(87558054, "init", {
         clickmap:true,
         trackLinks:true,
         accurateTrackBounce:true
    });
 </script>
 <noscript><div><img src="https://mc.yandex.ru/watch/87558054" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

 <script async>
     document.addEventListener('DOMContentLoaded', function() {
 if ('serviceWorker' in navigator) {
     
     navigator.serviceWorker.register('/pwabuilder-sw.js')
       .then(() => navigator.serviceWorker.ready.then((worker) => {
         worker.sync.register('syncdata');
       }))
       .catch((err) => console.log(err));
 }
     });
 </script>

     <!-- Yandex.RTB -->
<script>window.yaContextCb=window.yaContextCb||[]</script>
<script src="https://yandex.ru/ads/system/context.js" async></script>
                        
 <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111564187-1"></script>
 <script async>
     document.addEventListener('DOMContentLoaded', function() {
           window.dataLayer = window.dataLayer || [];
           function gtag(){dataLayer.push(arguments);}
           gtag('js', new Date());
 
           gtag('config', 'UA-111564187-1');
     });
 </script>
 <script async type="text/javascript">
     document.addEventListener('DOMContentLoaded', function() {
         (function(c,l,a,r,i,t,y){
         c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
         t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
         y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
         })(window, document, "clarity", "script", "fywhnfighj");
     });
 </script>

                <script src="{% static 'js/script.min.js' %}"></script>
            </body>
        </html>
