{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    Ошибка поиска
{% endblock %}

{% block content %}
{% get_current_language as current_language %}
{% if current_language == lang %}<h1>Поиск по вашему запросу</h1>{% else %}<h1>Search for your query</h1>{% endif %}
{% if current_language == lang %}<h2> Некорректный или слишком маленький!</h2>{% else %}<h2> Incorrect or too small!</h2>{% endif %}
<br>
<!-- Yandex.RTB R-A-2223408-8 -->
<div id="yandex_rtb_R-A-2223408-8"></div>
<script>
window.yaContextCb.push(()=>{
    Ya.Context.AdvManager.render({
        "blockId": "R-A-2223408-8",
        "renderTo": "yandex_rtb_R-A-2223408-8",
        "type": "feed"
    })
})
</script>
                        
<!-- Yandex.RTB R-A-2223408-9 -->
<script>
window.yaContextCb.push(()=>{
    Ya.Context.AdvManager.render({
        "blockId": "R-A-2223408-9",
        "type": "floorAd",
        "platform": "touch"
    })
})
</script>
{% endblock %}
